@import "mixin/mixins";
@import "font-awesome-sprockets";
@import "./font-awesome";

@import "product/exhibit-btn";
@import "product/index";

@import "shared/footer";
@import "shared/header";
@import "shared/header-simple";
@import "shared/footer-simple";


@import "slick-theme";
@import "slick";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}